.dashboard-etable,
.dashboard-etable * {
  box-sizing: border-box;
}
.dashboard-etable {
  background: #ffffff;
  height: 1364px;
  position: relative;
  overflow: hidden;
}
.line-cart {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  padding: 24px;
  height: 469px;
  position: absolute;
  right: 81px;
  left: 80px;
  top: 372px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.temperature {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 24px;
  top: 24px;
}
.lines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  position: absolute;
  right: 24px;
  left: 24px;
  bottom: 48px;
  top: 71px;
  overflow: visible;
}
.x-axis {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  right: 24px;
  left: 24px;
  top: 404px;
}
.frame-2610396 {
  flex-shrink: 0;
  width: 18px;
  height: 20px;
  position: relative;
}
._21-feb {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
}
._10-00 {
  color: #828282;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 47px;
}
._10-15 {
  color: #828282;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 34px;
}
._10-20 {
  color: #828282;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 34px;
}
._10-30 {
  color: #828282;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 35px;
}
.y-axis {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 24.29px;
  top: 71px;
}
._100 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
._80 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
._60 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
._50 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
._20 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
._10 {
  color: #828282;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
}
.graph {
  border-radius: 0px;
  height: 284.81px;
  position: absolute;
  right: 69.44px;
  left: 25.49997329711914px;
  top: 110.69px;
  overflow: visible;
}
.dot {
  background: #000000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 63px;
  top: 105px;
}
.glow {
  background: #000000;
  border-radius: 50%;
  opacity: 0.1;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 45px;
  top: 87px;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 81px;
  left: 80px;
  top: 168px;
}
.card {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.date {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
._21-feb-2025 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.morning {
  color: #828282;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.card2 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 172px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.nourriture {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.suffisante {
  color: #34a654;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
._802 {
  color: #a7a6a6;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.segmented-control {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 80px;
  top: 96px;
}
.item-1 {
  border-radius: 4px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 32px;
  position: relative;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.plantes {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-2 {
  border-radius: 4px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}
.serre {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-3 {
  border-radius: 4px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}
.securit {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-6 {
  background: #ffffff;
  border-radius: 4px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}
.etable {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-7 {
  border-radius: 4px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}
.l-eau {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation {
  background: #ffffff;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 0px 0px 1px 0px;
  height: 64px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.dashboard-app {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  font-weight: 600;
  position: absolute;
  left: 80px;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.status {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.status-ok {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.status-warning {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
a{
    text-decoration: none;
    color: black;
}